{% extends 'todolist/base.html' %}
{% block content %}
<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
		<h1> Completed works </h1>
	</div>
</div>
<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
		<div class = "list-group">
			{% for t in todos %}
			<a href="{% url 'displaytodolist' t.id %}" class="list-group-item list-group-item-action{% if t.priority %} list-group-item-danger{% endif %}"><b>{{ t.title }}</b> - Completed {{ t.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
		</div>
	</div>
</div>
{% endblock %}