{% extends 'todolist/base.html' %}
{% block content %}
<div class = 'html-content'>
<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
		<h1> Completed works </h1>
	</div>
</div>

<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
		<div  class = "list-group">
			{% if todos %}
			{% for todo in todos %}
			<a href="{% url 'displaytodolist' todo.id %}" class="list-group-item list-group-item-action{% if todo.priority %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b> - Completed {{ todo.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
		</div>
		<button  class = "btn btn-primary" onclick="CreatePDFfromHTML()">GENERATE PDF </button>		
		{% endif %}
	</div>
</div>
</div>
<script>
	function CreatePDFfromHTML() {
    var HTML_Width = $(".html-content").width();
    var HTML_Height = $(".html-content").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

    html2canvas($(".html-content")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("WorkCompletedUpdate.pdf");
    });
}
</script>
{% endblock %}