{% extends "todolist/base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class = "row justify-content-center mt-5">
	<div class = "col-md-7 text-center">
		<h1> Build a Simple todo App just to practice django </h1>
		<p>
			This is a <b>todo web application</b> which lets you <i>create an account</i>, lets you <i>login to user's</i> website.Then it will have functions like <b><u> Create a work list </u> , <u> Show Completed Activities </u> and <u> Delete an activity of a list </u>. </b> This will allow user to have a organised 
			life.  
		</p>
		  <a role="button" class="btn btn-primary btn-lg" href="{% url 'registeruser' %}">Start</a>
	</div>
</div>

{% endblock %}