{% extends 'todolist/base.html' %}

{% block content %}
<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
		{% if todos %}
			<h1>{{todos.count}} Current Works {{todos.count|pluralize}}</h1>
		{% else %}
			<h1>Current Works</h1>
		{% endif %}
	</div>
</div>
<div class = "row justify-content-center mt-5">
	<div class = "col-md-10">
	{% if todos %}
		<div class = "list-group">
			{% for todo in todos %}
				<a href = "{% url 'displaytodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.priority %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.description %} - {{ todo.description|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Nothing to work on</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createlist' %}">New Todo</a>
            </div>
		{% endif %}
	</div>
</div>
{% endblock %}